.header{
    background: url(./Background.png);
    height: 622px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.header_img{
    width: 90%;
    max-width: 1250%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 85px;
    gap: 350px;
}

.img{
    width: 70px;
    height: 60px;
    cursor: pointer;
}

.Header_img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img_1{
    margin-left: -63px;
    cursor: pointer;
}

.img_3{
    cursor: pointer;
}

.header_line{
    width: 1px;
    height: 30px;
    background: #FFFFFF;
    margin-bottom: 1.5px;
}

.img_2{
    width: 32px;
    height: 20px;
    cursor: pointer;
}

.Head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.head_img{
    width: 404px;
    height: 400px;
    margin-left: -280px;
}

.head{
    margin-left: 90px;
    color: aliceblue;
}

.line_2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.head p{
    font-weight: 500;
    font-style: medium;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 10%;
}

.head h1{
    font-family: Rubik;
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    line-height: 35%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.head h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 0%;
    letter-spacing: 0%;
}

.head h5{
    font-weight: 500;
    font-size: 21px;
    line-height: 0%;
    letter-spacing: 0%;
    text-decoration: line-through;  
}

.head_btn{
    width: 155px;
    height: 40px;
    color: #FF4948;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}



.nav_text{
    margin-left: 580px;
    font-weight: 700;
    font-size: 44px;
    line-height: 15%;
}

.nav_text1{
    margin-left: 670px;
    font-weight: 700;
    font-size: 44px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.nav h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    cursor: pointer;
}

.nav_img1{
    margin-top: -29px;
    margin-left: 20px;
    cursor: pointer;
}

.nav_img2{
    margin-top: -30px;
    margin-left: -88px;
    cursor: pointer;
}

.nav_img3{
    margin-top: -20px;
    margin-left: -88px;
    cursor: pointer;
}

.SSS{
    margin: 20px;
}

.container{
    width: 90%;
    max-width: 1250%;
    position: relative;
    margin-top: 80px;
    margin-left: 120px;
}

.container2{
    width: 90%;
    max-width: 1250%;
    position: relative;
    margin-top: 80px;
    margin-left: 90px;
}

h2{
    margin-left: 40px;
    font-weight: 700;
    font-size: 44px;
    line-height: 15%;
}

.main_container{
    display: flex;
    align-items: center;
}

.main_img{
    display: flex;
    align-items: center;
    padding: 10px;
}

.main_img1{
    margin-top: 10px;
    margin-left: 30px;
}

.img1{
    margin-left: -96.5px;
    margin-top: 55px;
}

.main_img2{
    margin-left: -84px;
    margin-top: 6px;
}

.main_img3{
    width: 30px;
    height: 30px;
    margin-left: -51px;
    margin-top: 7px;
}

.main_img8{
    width: 25px;
    height: 30px;
    margin-left: -48px;
    margin-top: 7px;
}

.main_text{
    margin-left: 50px;
}

.main_text h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 600;   
    font-style: medium;
    line-height: 0%;
}

.main_small_1{
    display: flex;
    flex-direction: column;
    font-style: regular;
    font-size: 10px;
    font-weight: 400;
    margin-top: -8px;
    color: #434242;
}

.main_small_2{
    font-style: regular;
    font-size: 10px;
    font-weight: 400;
    margin-top: 25px;
    color: #FF4948;
    cursor: pointer;
}

.main_small_2:hover{
    text-decoration: underline solid #FF4948;
}

.img4{
    margin-top: -540px;
}

.main_img4{
    margin-left: 945px;   
}

.main_img5{
    margin-left: 800px;
    margin-top: -300px;
}

.img_67{
    margin-top: -170px;
}

.main_img6{
    margin-left: 690px;
}

.main_img7{
    margin-left: 170px;
}

.Hero_text {
    text-align: center;
    margin-bottom: 50px;
}

.Hero_text h1 {
    font-size: 36px;
    font-weight: 700;
}

.text_small {
    display: block;
    max-width: 500px;
    margin: 15px auto 0;
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hero1,
.hero2,
.hero3 {
    width: 280px;
}

.hero1_img,
.hero2_img,
.hero3_img {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.hero1_img img,
.hero2_img img,
.hero3_img img {
    position: absolute;
}

.hero1_img1,
.hero2_img1,
.hero3_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero1_img2,
.hero2_img2,
.hero3_img2 {
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero1_img3,
.hero2_img3,
.hero3_img3 {
    margin-left: 215px;
    margin-top: -10px;
}

.hero1_img4,
.hero2_img4,
.hero3_img4 {
    width: 30px;
    top: 15px;
    right: 10px;
}

.hero_star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.hero_star img {
    width: 170px;
}

.hero_star p {
    font-size: 14px;
    color: #333;
}

.hero_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_p1 {
    font-size: 16px;
    font-weight: 600;
}

.hero_p2 {
    font-size: 18px;
    font-weight: 700;
}

.Information{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.Information_img{
    width: 500px;
    height: 420px;
    margin-top: 40px;
}

.information{
    flex-direction: column;
}

.information h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
    font-style: bold;
}

.small_p{
    display: flex;
    align-items: center;
    gap: 10px;
}

.small_p p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #6a6a6a;
}

.hero_line{
    width: 280px;
    height: 0.1px;
    background: #d8d8d8;
    margin-left: -10px;
}

.footer{
    width: 90%;
    max-width: 1250px;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    flex-direction: column;
}

.footer_img{
    width: 500px;
    height: 250px;
    margin-left: 550px;
    margin-top: 80px;
}

.Footer{
    margin-top: -245px;
}

.footer_h1{
    margin-top: 50px;
    margin-left: 730px;
    font-size: 36px;
    font-weight: 700;
    line-height: 5%;
}

.footer_small{
    margin-left: 690px;
    font-weight: 400;
    font-size: 14px;
    color: #434242;
}

.footer_input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 650px;
    border: #FFFFFF;
}

.footer_btn{
    width: 130px;
    height: 38.5px;
    border-radius: 20px;
    margin-left: -125px;
    background-color: #FF4948;
    border: #FF4948;
    color: #FFFFFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4948;
    gap: 350px;
    padding: 40px;
    margin-top: -300px;
}

.Foot a{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin: 10px;
}