.header{
    background: url(./Background.png);
    height: 622px;
    align-items: center;
    justify-content: center;}

.header_img{
    width: 90%;
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    gap: 350px;
}

.img{
    width: 70px;
    height: 60px;
    cursor: pointer;
}

.Header_img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img_1{
    margin-left: -63px;
    cursor: pointer;
}

.img_3{
    cursor: pointer;
}

.header_line{
    width: 1px;
    height: 30px;
    background: #FFFFFF;
    margin-bottom: 1.5px;
}

.img_2{
    width: 32px;
    height: 20px;
    cursor: pointer;
}

.Head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.head_img{
    width: 404px;
    height: 400px;
    margin-left: -280px;
}

.head{
    margin-left: 90px;
    color: aliceblue;
}

.line_2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.head p{
    font-weight: 500;
    font-style: medium;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 10%;
}

.head h1{
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    line-height: 10%;
    letter-spacing: 10%;
}

.head h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 0%;
    letter-spacing: 0%;
}

.head h5{
    font-weight: 500;
    font-size: 21px;
    line-height: 0%;
    letter-spacing: 0%;
    text-decoration: line-through;  
}

.head_btn{
    width: 155px;
    height: 40px;
    color: #FF4948;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}



.nav_text{
    margin-left: 580px;
    font-weight: 700;
    font-size: 44px;
    line-height: 15%;
}

.nav_text1{
    margin-left: 670px;
    font-weight: 700;
    font-size: 44px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    cursor: pointer;
}

.nav_img1{
    margin-top: -29px;
    margin-left: 20px;
    cursor: pointer;
}

.nav_img2{
    margin-top: -30px;
    margin-left: -88px;
    cursor: pointer;
}

.nav_img3{
    margin-top: -20px;
    margin-left: -88px;
    cursor: pointer;
}

.SSS{
    margin: 20px;
}

.container{
    position: relative;
    margin-top: 80px;
    margin-left: 50px;
}

.container2{
    margin-left: 90px;
}

h2{
    margin-left: 40px;
    font-weight: 700;
    font-size: 44px;
    line-height: 15%;
}

.main_container{
    display: flex;
    align-items: center;
}

.main_img{
    display: flex;
    align-items: center;
    padding: 10px;
}

.main_img1{
    margin-top: 10px;
    margin-left: 30px;
}

.img1{
    margin-left: -96.5px;
    margin-top: 55px;
}

.main_img2{
    margin-left: -84px;
    margin-top: 6px;
}

.main_img3{
    width: 30px;
    height: 30px;
    margin-left: -51px;
    margin-top: 7px;
}

.main_img8{
    width: 25px;
    height: 30px;
    margin-left: -48px;
    margin-top: 7px;
}

.main_text{
    margin-left: 50px;
}

.main_text h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 600;   
    font-style: medium;
    line-height: 0%;
}

.main_small_1{
    display: flex;
    flex-direction: column;
    font-style: regular;
    font-size: 10px;
    font-weight: 400;
    margin-top: -8px;
    color: #434242;
}

.main_small_2{
    font-style: regular;
    font-size: 10px;
    font-weight: 400;
    margin-top: 25px;
    color: #FF4948;
    cursor: pointer;
}

.main_small_2:hover{
    text-decoration: underline solid #FF4948;
}

.img4{
    margin-top: -540px;
}

.main_img4{
    margin-left: 945px;   
}

.main_img5{
    margin-left: 800px;
    margin-top: -300px;
}

.img_67{
    margin-top: -170px;
}

.main_img6{
    margin-left: 690px;
}

.main_img7{
    margin-left: 170px;
}